@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}

.sidebar {
  width: 30%;
  padding: 1rem;
  overflow-y: scroll;
}

/* scrollbar */
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: inset 0 0 6px #999;
}

.chat-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
}

.linea {
  font-size: 12px;
  color: #bec1bb;
}
.text {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #444749;
  margin: 0;
}

.bold {
  font-size: 55px;
  margin-top: 2rem;
}

.parrafo {
  font-size: 20px;
  margin-top: 12px;
  text-align: center;
  max-width: 700px;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.iconos :first-child {
  font-size: 25px;
  margin-right: 1rem;
}

.iconos-1 {
  font-size: 25px;
}

.conversation {
  display: flex;
  align-items: center;
  gap: 1rem;
  border-top: 2px solid rgb(213, 211, 211);
  padding: 1rem;
}

.new-conversation {
  display: flex;
  min-height: 125px;
  justify-content: center;
  align-items: center;
  border-top: 2px solid rgb(213, 211, 211);
}

.button {
  font-size: 16px;
  padding: 20px;
  min-width: 60%;
  background-color: #a491d2;
  border: none;
  color: #fff;
}

.rounded {
  border-radius: 50%;
}

.intro-img {
  width: 350px;
}

@media screen and (max-width: 1200px) {
  .sidebar {
    width: 40%;
  }
  .intro-img {
    width: 200px;
  }
}

@media screen and (max-width: 992px) {
  .sidebar {
    width: 50%;
  }
  .intro-img {
    width: 150px;
  }
  .bold {
    font-size: 30px;
    text-align: center;
  }
  .parrafo {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 60%;
  }
  .intro-img {
    width: 100px;
  }
  .bold {
    font-size: 20px;
    text-align: center;
  }
  .parrafo {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  .sidebar {
    display: none;
  }
  .chat-container {
    width: 100%;
  }
}
